body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ededed;
    color: black;
}

.container {
    margin-top: 50px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: transform 0.5s;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: #ffffff;
}

.card img {
    width: 100%;
    height: 100%;
    display: none;
}

.card.flipped {
    transform: rotateY(0deg);
}

.card.flipped img {
    display: block;
}

.stats {
    margin: 20px 0;
    font-size: 18px;
}

button {
    border: .5 white solid;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    font-weight: 700;
    color:white;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

